<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue"></script>

    <title>snek</title>

    <style>

    .navbar {
        margin-bottom: 0px;
        height: auto;
        background-color: #f7f7f9;
    }

    #navbar {
      font-size: 90%;
    }

    #game_canvas {
      height: calc(100% - 150px);
      max-width: 100%;
      border: solid #f7f7f9;
    }

    #game {
      background-color: auto;
      border: 0px solid #f7f7f9;
      margin: 5px;
    }

    .container-fluid {
      padding: 4px;
    }

    </style>
  </head>

<body>
<div id="app">

  <nav class="navbar navbar-light">
    <div class="d-flex justify-content-between">

      <div>
        <button type="button" class="btn btn-outline-primary" v-on:click="showGame=true, showPlayButton=true" onclick="clearGame()">Play Snake!</button>
        <button type="button" class="btn btn-outline-primary" v-on:click="showGame=false" onclick="clearGame()">another thing</button>
      </div>

      <div>
        <button type="button" class="btn btn-outline-info" v-on:click="">Leaderboard</button>
        <button type="button" class="btn btn-outline-info" v-on:click="">Profile</button>
      </div>

    </div>
  </nav>

  <!-- Game Div -->
  <div class="d-flex justify-content-center">

    <div class="container-fluid" id="game" v-if="showGame">
      <div class="container-fluid">
        <button type="button" class="btn btn-outline-success" onclick="start()" @click="showPlayButton=false" v-if="showPlayButton">Single Player</button>
        <button type="button" class="btn btn-outline-success" onclick="start1v1()" @click="showPlayButton=false" v-if="showPlayButton">Local 1v1</button>
      </div>

      <div class="container-fluid">
        <h3 id="score" v-if="!showPlayButton">Score: 0</h3>
        <canvas id="game_canvas" class="rounded" width="1000" height="1000"></canvas>
      </div>
    </div>

  </div>

</div>
</body>

<script>
var app = new Vue({
  el: '#app',
  data: {
    showGame: true,
    showPlayButton: true,
  },
  methods: {
  }
})
</script>

<script src="snake.js"></script>

</html>
